@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
	background-color: white;
	font-size: 16px;
}

img { 
display: block;
width: 70%;
max-width: 100%;
 }

#hero {
	width: 58%;
	max-width: 100%;
	margin: 0 auto;
}

#about {
	color: #777;
	display: block;
	float: right;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	text-transform: none;
	text-align: justify-all;
	font-weight: 400;
	padding: 50px 0 auto;
	opacity: 1;
	position: relative;
	font-style: normal;
	width: 50%;
}

.wrapper {
	background-color: white;
}

h1 {
	color: #666;
	font-size: 2.5em;
	font-weight: 300;
	opacity: 0.5;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	margin-top: 0;
}

a:hover {
	color: black;
}

#slogan {
	text-align: center;
	color: #7686A6;
	font-style: italic;
	font-family: Helvetica;
	font-size: 1em;
	font-weight: 200;
	margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

nav {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	width: 700px;
	margin: 0 auto;
	}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav a {
	background-color: white;
	color: #666;
	display: block;
	font-size: 1em;
	text-decoration: none;
	float: left;
	margin: 1.5em 0;
	padding: 2em;
}

a:hover {
	color: black;
}

section {
	background-color: #FFF;
}


.clearfix::after {
  content: "";
  display: inline;
  clear: both;
}

footer {
	color: #666;
	float: right;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
	padding: 1em;
	text-align: center;
}

@media screen and (max-width:740px) {
	nav {
		width: 282px;	
	}
	nav a {
		margin: .5em 0;
		padding: 1em;
	}
}

@media screen and (max-width: 900px) {
	#hero {
		width: 58%;	
	}
}
@media screen and (max-width: 235px) {
	#hero {
		width: 80%;
	}
}