@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	background-color: white;
	font-size: 18px;
}

img { 
display: block;
width: 100%;
max-width: 100%;
 }

#hero {
	width: 100%;
	max-width: 50%;
	margin: 0 auto;
}

.wrapper {
	background-color: white;
}

header {
	color: #666;
	font-size: 3em;
	font-weight: 300;
	opacity: 0.5;
	padding: 1.5em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato sans-serif', sans-serif;
	margin-top: .5em;
}

#slogan {
	text-align: center;
	color: #7686A6;
	font-style: italic;
	font-family: Helvetica;
	font-size: 1em;
	font-weight: 200;
	margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

nav {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	width: 34%;
	margin: 2em auto 0;
	}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav a {
	background-color: white;
	color: #666;
	display: block;
	font-size: 1em;
	text-decoration: none;
	float: left;
	margin: 1.5em 0;
	padding: 2em;
}

a:hover {
	color: black;
}

section {
	background-color: #FFF;
}

footer {
	color: #666;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
	padding: 1em;
	text-align: center;
}
