body {
	background-color: #FFF8F5;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	color: #8B6CAB;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: 400;
	margin-top: 30px;
}

#slogan {
	text-align: center;
	color: #C9CFD1;
	font-style: italic;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 200;
}
img {
	border: transparent;
	border-radius: 5px;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	color: #781853;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	text-align: justify;
}

ul{
	color: #781853;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	text-align: left;
	list-style-type: none;
}
